TIMEZONE=Europe/Madrid
APPDATA=/data
MEDIA=/media
DB_HOST=dbh
DB_NAME=dbn
DB_USER=dbu
DB_PWD=*********************
DB_ROOT_PWD=*********************************
AUTH_KEY=***************************************************
