TIMEZONE=Europe/Madrid
APPDATA=/data
MEDIA=/media
DB_HOST=romm-db
DB_NAME=romm
DB_USER=romm-user
DB_PWD=*********************
DB_ROOT_PWD=*********************************
AUTH_KEY=***************************************************
